.inputGroup {
  display: flex;
  flex-direction: column;
}

.input {
  outline: 1px solid red;
  margin : 4px;
}

.input[data-validity="4"] {
  outline: none;
}

.inputGroup .label {
  margin : 4px;
}

.inputGroup .messages {
  display: flex;
  flex-direction: column;
}

.inputGroup .messages .message {
  background-color: palevioletred;
  margin: 4px;
}

.inputGroup .messages .message[data-type="VALID"] {
  background-color: lightgreen;
}